.container {
  display: grid;
  grid-template-columns: 1fr 56px;
  gap: 24px;
  align-items: center;
}
.upVoteList {
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  width: 480px;
  height: 80px;
  box-sizing: border-box;
  max-width: 100%;
  border: 2px solid var(--border-color);
  overflow-x: scroll;
}
